.home__campaigns {
    background-color: var(--clr-primary);
    padding: 2rem;

    display: flex;
    flex-direction: column;
    gap: min(32px, 10vh);

    .campaigns-heading {
        display: flex;
        justify-content: space-between;
        font-size: 1rem;
        color: var(--clr-white);

        a {
            text-decoration: underline;
        }
    }

    .content {
        display: flex; 
        flex-wrap: wrap;
        gap: 2rem;      
    }
}