.homepage {
  width: 100%;
  height: fit-content;

  .homepage-home {
    position: relative;
    height: calc(85vh - min(80px, 15vh));;
    display: flex;
    .home-bg {
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(40%);
      }
    }
    .home-content {
      position: relative;
      padding: 48px;
      z-index: 10;
  
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      color: var(--clr-white);
  
      .heading {
        font-size: min(3rem, 100vh);
        max-width: 60%;
        line-height: 1.5;
      }
    }
  }

  .homepage-stats {
    height: 15vh;
  }
}
