.businessCard {
  .card__content {

    .businessCard__finance {
        grid-row: 8 / 10;
        display: flex;
        gap: 0.5rem;
        flex-wrap: wrap;

        align-items: center;
        justify-content: center;
    }

    .businessCard__viewMore {
      grid-row: 10 / 11;
      display: flex;
      justify-content: center;
    }
  }
}
