.donationCard {
  .card__content {
    .progress-info {
      grid-row: 8 / 9;
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      .info {
        span {
          font-weight: bold;
        }
      }
    }

    .donationCard__footer {
      height: 100%;
      grid-row: 9 / 11;

      display: flex;
      gap: 0.5rem;
      align-items: center;

      .deadline {
        flex: 3;

        p {
          font-weight: bold;
        }
      }

      .button {
        height: auto;
        width: 100%;
        flex: 2;
      }
    }
  }
}
