.testing {
  .fs-and-fw {
    font-weight: var(--fw-lightest);
    font-size: var(--fs-extra-small);
  }
  .fs-and-fw1 {
    font-weight: var(--fw-ligh);
    font-size: var(--fs-small);
  }
  .fs-and-fw2 {
    font-weight: var(--fw-normal);
    font-size: var(--fs-regular);
  }
  .fs-and-fw4 {
    font-weight: var(--fw-regular);
    font-size: var(--fs-medium);
  }
  .fs-and-fw5 {
    font-weight: var(--fw-medium);
    font-size: var(--fs-large);
  }
  .fs-and-fw6 {
    font-weight: var(--fw-semibold);
    font-size: var(--fs-extra-large);
  }
  .fs-and-fw7 {
    font-weight: var(--fw-bold);
    font-size: var(--fs-2x-extra-large);
  }
}
