:root {
  --clr-primary: #008765;
  --clr-secondary: #FCC698;
  --clr-accent-red: #FF6347;
  --clr-accent-purple: #C56BC1;
  --clr-accent-white: #f5fdff;

  --clr-dark: #222831;

  --clr-white: #FFFFFF;
  --clr-white-1: #F8F9FA;
  --clr-white-2: #DEE2E6;
  --clr-white-3: #ADB5BD;

  --clr-black: #000000;

  --clr-gray-1: #212529;
  --clr-gray-2: #343A40;
  --clr-gray-3: #6C757D;

}

a {
  text-decoration: none;
  color: inherit;
}